## Installing Dependencies

In [1]:
pip install ipython-sql psycopg2

Requirement already satisfied: ipython-sql in c:\users\jwj12\anaconda3\lib\site-packages (0.5.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: psycopg2 in c:\users\jwj12\anaconda3\lib\site-packages (2.9.9)
Requirement already satisfied: prettytable in c:\users\jwj12\anaconda3\lib\site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in c:\users\jwj12\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\jwj12\anaconda3\lib\site-packages (from ipython-sql) (2.0.28)
Requirement already satisfied: sqlparse in c:\users\jwj12\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\jwj12\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\jwj12\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\jwj12\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jwj12\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\jwj12\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\jwj12\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\jwj12\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\jwj12\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\jwj12\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\jwj12\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\jwj12\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\jwj12\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\jwj12\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\jwj12\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\jwj12\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\jwj12\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\jwj12\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\jwj12\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\jwj12\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

## Database Connection Setup

In [2]:
%load_ext sql
%sql postgresql://postgres:Westmoreland315@localhost:5432/game_reviews

## Viewing Reviews Table

In [3]:
%%sql 

SELECT *
FROM reviews
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/game_reviews
10 rows affected.

[('Wii Sports for Wii', 7.7, 8.0),
 ('Super Mario Bros. for NES', 10.0, 8.2),
 ('Counter-Strike: Global Offensive for PC', 8.0, 7.5),
 ('Mario Kart Wii for Wii', 8.2, 9.1),
 ("PLAYERUNKNOWN'S BATTLEGROUNDS for PC", 8.6, 4.7),
 ('Minecraft for PC', 10.0, 7.8),
 ('Wii Sports Resort for Wii', 8.0, 8.8),
 ('Pokemon Red / Green / Blue Version for GB', 9.4, 8.8),
 ('New Super Mario Bros. for DS', 9.1, 8.1),
 ('New Super Mario Bros. Wii for Wii', 8.6, 9.2)]

## Viewing Sales Table

In [4]:
%%sql 

SELECT * 
FROM game_sales
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/game_reviews
10 rows affected.

[('7 Days to Die for PC', 'PC', 'The Fun Pimps', 'The Fun Pimps', 4.18, 2013),
 ('ARK: Survival Evolved for PC', 'PC', 'Studio Wildcard', 'Studio Wildcard', 4.5, 2015),
 ('Age of Empires II: HD Edition for PC', 'PC', 'Microsoft Studios', 'Hidden Path Entertainment', 5.82, 2013),
 ('Animal Crossing: City Folk for Wii', 'Wii', 'Nintendo', 'Nintendo EAD', 4.32, 2008),
 ('Animal Crossing: New Horizons for NS', 'NS', 'Nintendo', 'Nintendo', 13.41, 2020),
 ('Animal Crossing: New Leaf for 3DS', '3DS', 'Nintendo', 'Nintendo EAD', 12.55, 2013),
 ('Animal Crossing: Wild World for DS', 'DS', 'Nintendo', 'Nintendo EAD', 11.75, 2005),
 ('Arma 2: Operation Arrowhead for PC', 'PC', 'Meridian4', 'Bohemia Interactive', 4.51, 2010),
 ('Arma III for PC', 'PC', 'Bohemia Interactive', 'Bohemia Interactive', 4.0, 2013),
 ("Assassin's Creed II for PS3", 'PS3', 'Ubisoft', 'Ubisoft Montreal', 5.57, 2009)]

## Determining How Many Games Do Not Have Critic Scores

In [5]:
%%sql 

SELECT COUNT(game_sales."Name")
FROM game_sales LEFT JOIN reviews ON game_sales."Name" = reviews."Name" 
WHERE "Critic_Score" IS NULL AND "User_Score" IS NULL;

 * postgresql://postgres:***@localhost:5432/game_reviews
1 rows affected.

[(31,)]

## Creating A Table For Years That Video Game Critics Loved

In [6]:
%%sql

CREATE TABLE top_critic_years AS
SELECT "Year", ROUND(AVG("Critic_Score"):: numeric, 2) as avg_critic_score
FROM game_sales LEFT JOIN reviews ON game_sales."Name" = reviews."Name"
GROUP BY "Year"
ORDER BY avg_critic_score DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/game_reviews
(psycopg2.errors.DuplicateTable) relation "top_critic_years" already exists

[SQL: CREATE TABLE top_critic_years AS
SELECT "Year", ROUND(AVG("Critic_Score"):: numeric, 2) as avg_critic_score
FROM game_sales LEFT JOIN reviews ON game_sales."Name" = reviews."Name"
GROUP BY "Year"
ORDER BY avg_critic_score DESC
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/20/f405)

## Viewing Table

In [7]:
%%sql 

SELECT *
FROM top_critic_years;

 * postgresql://postgres:***@localhost:5432/game_reviews
10 rows affected.

[(1990, Decimal('9.80')),
 (1992, Decimal('9.67')),
 (1998, Decimal('9.32')),
 (2020, Decimal('9.20')),
 (1993, Decimal('9.10')),
 (1995, Decimal('9.07')),
 (2004, Decimal('9.03')),
 (1982, Decimal('9.00')),
 (2002, Decimal('8.99')),
 (1999, Decimal('8.93'))]

## Creating A Table For Years With More Than 4 Reviewed Games That Critics Loved

In [8]:
%%sql

CREATE TABLE top_critic_years_more_than_four_games AS
SELECT game_sales."Year", COUNT(game_sales."Name") as num_games, ROUND(AVG("Critic_Score"):: numeric, 2) as avg_critic_score
FROM game_sales INNER JOIN reviews ON game_sales."Name" = reviews."Name"
GROUP BY game_sales."Year"
HAVING COUNT(game_sales."Name") > 4
ORDER BY avg_critic_score DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/game_reviews
(psycopg2.errors.DuplicateTable) relation "top_critic_years_more_than_four_games" already exists

[SQL: CREATE TABLE top_critic_years_more_than_four_games AS
SELECT game_sales."Year", COUNT(game_sales."Name") as num_games, ROUND(AVG("Critic_Score"):: numeric, 2) as avg_critic_score
FROM game_sales INNER JOIN reviews ON game_sales."Name" = reviews."Name"
GROUP BY game_sales."Year"
HAVING COUNT(game_sales."Name") > 4
ORDER BY avg_critic_score DESC
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/20/f405)

## Viewing Table

In [9]:
%%sql 

SELECT *
FROM top_critic_years_more_than_four_games;

 * postgresql://postgres:***@localhost:5432/game_reviews
10 rows affected.

[(1998, 10, Decimal('9.32')),
 (2004, 11, Decimal('9.03')),
 (2002, 9, Decimal('8.99')),
 (1999, 11, Decimal('8.93')),
 (2001, 13, Decimal('8.82')),
 (2011, 26, Decimal('8.76')),
 (2016, 13, Decimal('8.67')),
 (2013, 18, Decimal('8.66')),
 (2008, 20, Decimal('8.63')),
 (2017, 13, Decimal('8.62'))]

## Years That Dropped Off The Critics' Favorites List

In [10]:
%%sql

SELECT top_critic_years."Year", "avg_critic_score"
FROM top_critic_years
WHERE top_critic_years."Year" NOT IN 
    (SELECT top_critic_years_more_than_four_games."Year"
    FROM top_critic_years_more_than_four_games)
ORDER BY avg_critic_score DESC;

 * postgresql://postgres:***@localhost:5432/game_reviews
6 rows affected.

[(1990, Decimal('9.80')),
 (1992, Decimal('9.67')),
 (2020, Decimal('9.20')),
 (1993, Decimal('9.10')),
 (1995, Decimal('9.07')),
 (1982, Decimal('9.00'))]

## Creating A Table For Years With More Than 4 Reviewd Games That Users/Players Loved

In [11]:
%%sql

CREATE TABLE top_user_years_more_than_four_games AS
SELECT game_sales."Year", COUNT(game_sales."Name") as num_games, ROUND(AVG("User_Score")::numeric, 2) as avg_user_score
FROM game_sales INNER JOIN reviews ON game_sales."Name" = reviews."Name"
GROUP BY game_sales."Year"
HAVING COUNT(game_sales."Name") > 4
ORDER BY avg_user_score DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/game_reviews
(psycopg2.errors.DuplicateTable) relation "top_user_years_more_than_four_games" already exists

[SQL: CREATE TABLE top_user_years_more_than_four_games AS
SELECT game_sales."Year", COUNT(game_sales."Name") as num_games, ROUND(AVG("User_Score")::numeric, 2) as avg_user_score
FROM game_sales INNER JOIN reviews ON game_sales."Name" = reviews."Name"
GROUP BY game_sales."Year"
HAVING COUNT(game_sales."Name") > 4
ORDER BY avg_user_score DESC
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/20/f405)

## Viewing Table

In [12]:
%%sql 

SELECT *
FROM top_user_years_more_than_four_games;

 * postgresql://postgres:***@localhost:5432/game_reviews
10 rows affected.

[(1997, 8, Decimal('9.50')),
 (1998, 10, Decimal('9.40')),
 (2010, 23, Decimal('9.24')),
 (2009, 20, Decimal('9.18')),
 (2008, 20, Decimal('9.03')),
 (1996, 5, Decimal('9.00')),
 (2005, 13, Decimal('8.95')),
 (2006, 16, Decimal('8.95')),
 (2000, 8, Decimal('8.80')),
 (2002, 9, Decimal('8.80'))]

## Years That Both Players And Critics Loved

In [13]:
%%sql
SELECT "Year"
FROM top_critic_years_more_than_four_games
INTERSECT
SELECT "Year"
FROM top_user_years_more_than_four_games;

 * postgresql://postgres:***@localhost:5432/game_reviews
3 rows affected.

[(2008,), (2002,), (1998,)]

## Total Games Sold In The Golden Years Of Gaming

In [14]:
%%sql

SELECT game_sales."Year", ROUND(SUM("Total_Shipped"):: numeric, 2) AS total_games_sold
FROM game_sales
WHERE "Year" IN
    (SELECT "Year"
    FROM top_critic_years_more_than_four_games
    INTERSECT
    SELECT "Year"
    FROM top_user_years_more_than_four_games)
GROUP BY game_sales."Year"
ORDER BY total_games_sold DESC;

 * postgresql://postgres:***@localhost:5432/game_reviews
3 rows affected.

[(2008, Decimal('175.07')),
 (1998, Decimal('101.52')),
 (2002, Decimal('58.67'))]